<header>
    <ul class="brand">
        <li class="title"><img src="../../assets/img/inspirabbble-logo.png" /></li>
        <li class="description"><span>Inspire yourself with fresh    from Dribbble</span></li>
    </ul>
    <ul class="options"></ul>
</header>
